name: Ultimate_Monitor
on:
  schedule:
    - cron: "*/5 1-5 * * 1-5" 
  workflow_dispatch: 
jobs:
  run-monitor:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 
      - name: Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install
        run: pip install yfinance pandas requests
      - name: Run
        run: python break_support.py
      - name: Sync
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git pull --rebase origin main
          git add targets.txt
          git commit -m "Update" || echo "no changes"
          git push origin main
