name: Intraday_Monitor

on:
  schedule:
    - cron: '*/5 1,2,3,4,5 * * 1-5'
  workflow_dispatch:

jobs:
  run_monitor:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install yfinance pandas requests
      - name: Run Check
        run: python break_support.py
      - name: Update targets
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add targets.txt
          git commit -m "update targets [skip ci]" || echo "no changes"
          git push
